<h2 class="page-title">Crear nuevo usuario</h2>
<div class="register-user-container">
  <form class="form-container" [formGroup]="userRegisterForm" (submit)="registerUser()">
    <div class="form-row">
      <div class="form-group">
        <label for="firstName">Nombres</label>
        <input
          id="firstName"
          type="text"
          placeholder="Escribe el nombre del usuario"
          formControlName="nombres"
          class="form-control"
          [class.is-invalid]="validControl('nombres')"
        />
      </div>

      <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input
          id="lastName"
          type="text"
          placeholder="Escribe el apellido del usuario"
          formControlName="apellidos"
          class="form-control"
          [class.is-invalid]="validControl('apellidos')"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          placeholder="ejemplo@email.com"
          formControlName="correoElectronico"
          class="form-control"
          [class.is-invalid]="validControl('correoElectronico')"
        />
      </div>

      <div class="form-group">
        <label for="document">Documento de Identidad</label>
        <input
          id="document"
          type="text"
          placeholder="Ingrese el documento (DNI, CE) del usuario"
          formControlName="documentoIdentidad"
          class="form-control"
          [class.is-invalid]="validControl('documentoIdentidad')"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group full">
        <label for="password">Contraseña</label>
        <input
          id="password"
          type="password"
          placeholder="Asignar una contraseña"
          formControlName="contrasenia"
          class="form-control"
          [class.is-invalid]="validControl('contrasenia')"
        />
        <small class="hint">Mínimo 8 caracteres, 1 mayúscula, 1 número.</small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group full">
        <label>Rol</label>
        <div class="roles">
          <label><input type="radio" value="admin" formControlName="idRol" /> Administrador</label>
          <label><input type="radio" value="reader" formControlName="idRol" /> Lector</label>
          <label
            ><input type="radio" value="librarian" formControlName="idRol" /> Bibliotecario</label
          >
        </div>
      </div>
    </div>

    <div class="actions">
      <button type="button" class="btn-cancel">Cancelar</button>
      <button type="submit" class="btn-primary">Registrar usuario</button>
    </div>
  </form>
</div>