<h2 class="page-title">Añadir nuevo autor</h2>
<div class="register-author-container">
  <form class="form-container" [formGroup]="authorRegisterForm" (submit)="registerAuthor()">
    <div class="form-row">
      <div class="form-group">
        <label for="firstName">Nombres</label>
        <input
          id="firstName"
          type="text"
          placeholder="Escribe el nombre del autor"
          formControlName="nombreAutor"
          class="form-control"
          [class.is-invalid]="validControl('nombreAutor')"
        />
      </div>

      <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input
          id="lastName"
          type="text"
          placeholder="Escribe los apellidos del autor"
          formControlName="apellidoAutor"
          class="form-control"
          [class.is-invalid]="validControl('apellidoAutor')"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group full">
        <label for="bio">Biografía</label>
        <textarea
          id="bio"
          placeholder="Escribe una breve biografía del autor..."
          formControlName="biografiaAutor"
          class="form-control textarea-control"
          [class.is-invalid]="validControl('biografiaAutor')"
        ></textarea>
      </div>
    </div>

    <!-- <div class="form-row"></div> -->

    <div class="form-actions">
      <button type="button" class="btn-cancel">Cancelar</button>
      <button type="submit" class="btn-submit">Registrar autor</button>
    </div>
  </form>
</div>
