<h2 class="page-title">Registrar devolución</h2>

<div class="return-container">
  <section class="card-section">
    <label class="section-title">Buscar usuario</label>

    <div class="form-row">
      <div class="input-wrapper">
        <input type="text" placeholder="Ingrese el documento o nombre del usuario" />
      </div>
    </div>

  </section>

  <section class="card-section">
    <div class="loans-header">
      <div>
        <label class="section-title">Libros en préstamo</label>
        <p class="user-label">Usuario: <strong>""</strong></p>
      </div>
    </div>

    <p class="sub-label">Selecciona los libros a devolver</p>

    <ul class="loan-list">
      <li class="loan-item">
        <div class="left">
          <input type="checkbox" />

          <div class="loan-info">
            <p class="book-title">El Principito</p>
            <p class="date-label">Fecha de vencimiento: 10/01/2026</p>
          </div>
        </div>

        <div class="right">
          <span class="status active">Activo</span>
        </div>
      </li>

      <li class="loan-item">
        <div class="left">
          <input type="checkbox" />

          <div class="loan-info">
            <p class="book-title">Cien Años de Soledad</p>
            <p class="date-label">Fecha de vencimiento: 08/01/2026</p>
          </div>
        </div>

        <div class="right">
          <span class="status expired">Vencido</span>
        </div>
      </li>
    </ul>

    <div class="actions">
      <button class="btn-return">Registrar devolución</button>
    </div>
  </section>
</div>
