<div class="home-container w-100" [class.sidebar-open]="isSidebarOpen">
  <div class="home-header shadow-sm">
    <button class="btn-hamburger" (click)="isSidebarOpen = true">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="logo-content desktop-only">
      <img src="assets/logo_header.png" alt="logo_header" width="325" />
    </div>
    <div class="profile-content">
      <div class="profile-content__image">
        <img
          src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
          class="rounded-circle"
          alt="Foto de Perfil"
          style="width: 60px; height: 60px; object-fit: cover"
        />
      </div>
      <div class="profile-content__data">
        <div class="fw-bold">{{ `${user?.nombres} ${user?.apellidos}` }}</div>
        <small class="text-muted">{{ rolDescription }}</small>
      </div>
      <div class="profile-content__logout">
        <button class="btn btn-secondary btn-sm w-100 h-100" (click)="logout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="home-content">
    @if (isSidebarOpen && menuOptions.length) {
    <div class="sidebar-container">
      <div class="sidebar-logo mobile-only">
        <img src="assets/logo_header.png" alt="logo_sidebar" />
      </div>
      <div class="menu-container w-100 pt-2">
        @for (menu of menuOptions; track $index) {
        <div
          class="menu-container__option w-100"
          [class.active]="menu.path === menuOptionSelected"
          (click)="selectMenuOption(menu)"
        >
          <i [class]="menu.icon"></i>
          <div>{{ menu.description }}</div>
        </div>
        }
      </div>
    </div>
    <div class="sidebar-overlay" (click)="isSidebarOpen = false"></div>
    }

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
