.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .home-header {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;

    .profile-content {
      width: 320px;
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: space-between;

      &__data {
        width: 180px;
      }

      &__logout {
        width: 42px;
        height: 42px;
      }
    }
  }

  .home-content {
    width: 100%;
    height: 87%;
    display: flex;

    .sidebar-container {
      width: 20%;
      min-width: 240px;
      flex-shrink: 0;

      .menu-container {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        &__option {
          height: 52px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 18px;
          gap: 10px;
          padding: 0 10%;
          cursor: pointer;
          i {
            font-size: 25px;
          }

          &.active {
            background-color: #d0defb;
            color: #3371EE;
          }

          &:hover {
            background-color: #d0defb;
            color: #3371EE;
          }
        }
      }
    }

    .main-content {
      width: 80%;
      background-color: #f5f5f5;
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}
