<div class="row row-cols-2 row-cols-md-4 g-4 w-100">
  <div class="col">
    <div class="card px-4 py-3 text-center rounded-5">
      <img
        src="https://img.pikbest.com/templates/20241024/creative-and-abstract-book-cover-design-with-dark-gradient-blue-color-white-_10999368.jpg!sw800"
        class="card-img-top rounded-5"
        alt="..."
      />
      <div class="card-body pt-2 pb-1 px-0 text-center">
        <h6 class="card-title fw-bold mb-0">El señor de los anillos II</h6>
        <p class="mb-0">Franchesca Maldini</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card px-4 py-3 text-center rounded-5">
      <img
        src="https://img.pikbest.com/templates/20241024/creative-and-abstract-book-cover-design-with-dark-gradient-blue-color-white-_10999368.jpg!sw800"
        class="card-img-top rounded-5"
        alt="..."
      />
      <div class="card-body p-0 pt-1 text-start">
        <h6 class="card-title fw-bold mb-0">El señor de los anillos II</h6>
        <p class="mb-0">Franchesca Maldini</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card px-4 py-3 text-center rounded-5">
      <img
        src="https://img.pikbest.com/templates/20241024/creative-and-abstract-book-cover-design-with-dark-gradient-blue-color-white-_10999368.jpg!sw800"
        class="card-img-top rounded-5"
        alt="..."
      />
      <div class="card-body p-0 pt-1 text-start">
        <h6 class="card-title fw-bold mb-0">El señor de los anillos II</h6>
        <p class="mb-0">Franchesca Maldini</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card px-4 py-3 text-center rounded-5">
      <img
        src="https://img.pikbest.com/templates/20241024/creative-and-abstract-book-cover-design-with-dark-gradient-blue-color-white-_10999368.jpg!sw800"
        class="card-img-top rounded-5"
        alt="..."
      />
      <div class="card-body p-0 pt-1 text-start">
        <h6 class="card-title fw-bold mb-0">El señor de los anillos II</h6>
        <p class="mb-0">Franchesca Maldini</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card px-4 py-3 text-center rounded-5">
      <img
        src="https://img.pikbest.com/templates/20241024/creative-and-abstract-book-cover-design-with-dark-gradient-blue-color-white-_10999368.jpg!sw800"
        class="card-img-top rounded-5"
        alt="..."
      />
      <div class="card-body p-0 pt-1 text-start">
        <h6 class="card-title fw-bold mb-0">El señor de los anillos II</h6>
        <p class="mb-0">Franchesca Maldini</p>
      </div>
    </div>
  </div>
</div>
