<div class="row row-cols-2 row-cols-md-4 g-4 w-100">
  @for (book of books; track book.idLibro) {
  <div class="col">
    <div class="card px-4 py-3 text-center rounded-5" (click)="bookSelected.emit(book)">
      <img [src]="book.rutaImagenLibro" class="card-img-top rounded-5" alt="..." />
      <div class="card-body pt-2 pb-1 px-0 text-center">
        <h6 class="card-title fw-bold mb-0">{{ book.tituloLibro }}</h6>
        <p class="mb-0">{{ book.autor.nombreAutor + ' ' + book.autor.apellidoAutor }}</p>
      </div>
    </div>
  </div>
  }
</div>
