.book-detail-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    min-width: 540px;
    max-width: 80%;
    height: 100%;
    div{
        height: 100%;
    }

    img {
      height: 100%;
    }

    .card-available{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .card-detail-info {
      width: 100%;

      &__row {
        width: 100%;
        display: flex;
        margin-bottom: 15px;
      }

      &__info {
        flex: 1;
        h6 {
          margin-bottom: 1px;
        }
      }

      &__action {
        width: 100%;
        display: flex;
        justify-content: space-between;
        button {
          font-size: 20px;
          i{
            margin-right: 4px;
          }
        }
      }
    }
  }
}
