<div class="book-detail-container w-100 py-4">
  <div class="card p-4 rounded-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://img.pikbest.com/templates/20241024/creative-and-abstract-book-cover-design-with-dark-gradient-blue-color-white-_10999368.jpg!sw800"
          class="img-fluid rounded-3"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Cien años de soledad</h1>
          <h3 class="card-subtitle mb-3">Gabriel García Márquez</h3>
          <div class="card-available">
            <div class="card-available__status">
              <span class="badge text-bg-success">Disponible</span>
            </div>
            <h5 class="card-available__stock">Stock: 10</h5>
          </div>
          <hr />
          <h4 class="card-title">Sinopsis</h4>
          <p class="card-text">
            Cien años de soledad narra la saga de la familia Buendía a lo largo de varias
            generaciones en el mítico pueblo de Macondo. A través de una mezcla de realismo mágico,
            historia, mitos y lo cotidiano, la novela explora temas como el poder, el destino, el
            amor y la soledad. Los personajes se enfrentan a la repetición de sus errores, al peso
            del pasado y a una inevitabilidad trágica, mientras Macondo —y la familia Buendía— se
            convierten en un microcosmos de la condición humana. Cien años de soledad narra la saga
            de la familia Buendía a lo largo de varias generaciones en el mítico pueblo de Macondo.
            A través de una mezcla de realismo mágico, historia, mitos y lo cotidiano, la novela
            explora temas como el poder, el destino, el amor y la soledad. Los personajes se
            enfrentan a la repetición de sus errores, al peso del pasado y a una inevitabilidad
            trágica, mientras Macondo —y la familia Buendía— se convierten en un microcosmos de la
            condición humana.
          </p>
          <hr>
          <div class="card-detail">
            <h4 class="card-title mb-3">Detalles del libro</h4>
            <div class="card-detail-info">
              <div class="card-detail-info__row">
                <div class="card-detail-info__info">
                  <h6>Codigo</h6>
                  <p>978-03294378438</p>
                </div>
                <div class="card-detail-info__info">
                  <h6>Editorial</h6>
                  <p>Editorial Sudamericana</p>
                </div>
                <div class="card-detail-info__info">
                  <h6>Género</h6>
                  <p>Novela</p>
                </div>
              </div>
              <div class="card-detail-info__row">
                <div class="card-detail-info__info">
                  <h6>Año de publicación</h6>
                  <p>1967</p>
                </div>
                <div class="card-detail-info__info">
                  <h6>Número de páginas</h6>
                  <p>422</p>
                </div>
              </div>
              <div class="card-detail-info__action">
                <button type="button" class="btn btn-outline-primary">
                  <i class="fa-solid fa-bookmark"></i>
                  Reservar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
